<!-------------------------------------------------------- 
    CAJA CONTENEDORA PRINCIPAL
--------------------------------------------------------->
<div class="box">


    <!-------------------------------------------------------- 
             IMAGEN DE OLA
    --------------------------------------------------------->
    <img class="wave" [src]="['/assets/img/login/wave.png']">


    <!-------------------------------------------------------- 
             CAJA CONTENEDORA 
    --------------------------------------------------------->

    <div class="containerLogin">


        <!-------------------------------------------------------- 
             IMAGEN DE CELULAR
        --------------------------------------------------------->
        <div class="imgCelular">
            <img [src]="['/assets/img/login/bg.svg']">
        </div>



        <!-------------------------------------------------------- 
            CONTENEDOR DEL LOGIN
        --------------------------------------------------------->

        <div class="login-content">

            <form [formGroup]="FormAuth" (ngSubmit)="login()">

                <img [src]="['/assets/img/login/avatar.svg']">

                <h2 class="title">Bienvenido</h2>

                <div class="input-div one" #InputPersonalizado>

                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="div" >
                        <h5>Correo</h5>
                        <input type="text" formControlName="user"   [ngClass]="'input'" (focus)="onFocusMethod($event)"  (blur)="onBlurMethod($event, $event.target.value)" >
                    </div>
                </div>

                <div class="input-div pass" #InputPersonalizado>

                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>

                    <div class="div" >
                        <h5>Contraseña</h5>
                        <input type="password" formControlName="password"   [ngClass]="'input'" (focus)="onFocusMethod($event)" (blur)="onBlurMethod($event, $event.target.value)">
                    </div>

                </div>

                <a href="#">¿Se olvidó contraseña?</a>
                <button type="submit" class="btn" >Entrar</button>

            </form>

        </div>

    </div>

</div>

